<!DOCTYPE html>
<html>
    <head>
        <title>enviar arquivo</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="imagem" multiple/>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>